.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
border-radius: 10px;
  }
  
  .input-field {
    margin-bottom: 10px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #de8f0f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  